<h3><%= t(:tag_it_a_CEM_support_tool)%></h3>
<p>A Tag-it é uma ferramenta de apoio a fase de etiquetagem do MAC - Método de Avaliação da Comunicabilidade </p>

<p><center><img src="/img/tagitdoes.png"></img></center></p>


