<h3> The method of evaluation of communicability (MAC) </h3>

The method of evaluation of communicability (MAC) is one of the methods proposed by the Semiotic Engineering for evaluating HCI:

<br/>

<Img src = "/img/MACEtapas.png" </img> <br/>
<br/>
<br/>
<center> <b> Figure 1 - Stages of MAC (BIM 2009, p60) </b> </center> <br/>



<br/>

<p>
To accomplish the MAC is necessary to have occurred earlier preparation and testing with users. The test preparation - according to (PRATES and BARBOSA, 2007, p 280-281) is divided into:
<br/>

Determining the purpose of the test; <br/> <br/>
• Delegation of tasks to test <br>
• Selection of participants <br/>
• Considerations ethical aspects <br/>
• Generation of printed materials for use during the evaluation; <br/>
• Implementation of the pilot test. <br/> <br/>
After this test preparation, test execution with the selected participants in a controlled environment in which users' actions are saved so they can be subsequently considered by the evaluators is required. For this, there must be a catch of user interaction with the system via screen capture software, easily available on the web with free licenses. <br/>
Without capturing the user interaction with the system in video format, which can not proceed to the step of labeling step addressed in Tag-It. <br/> <br/>
Step Labeling is done by the person who will analyze the IHC, using for this the video produced for testing as well as information collected from other forms such as questionnaires and interviews with the participants made during and after the execution of the tests. The objective of the labeling step is to find flaws in receipt of the message the designer user. <br/>
Each failure or disruption of communication should be identified by a label, consisting of expressions that could be sketched by users to interact with the system (eg, "Where?", When referring to an action that the user can not find in estimated) object at a given instant of the interaction. Thirteen labels divided into three groups: complete failure, partial failure and temporary failures briefly described below (PRATES and BARBOSA, 2007, p 285.) And illustrated in Figure 2: <br/> <br>
• Complete Failure - happen when the intent of the communication and its effect are inconsistent<br/>
• Failures partial - occur when part of the intended effect of communication is not reached <br/>
• Fault time - are those that occur in the expression or intention of a communicative act between user and system, and that are perceived by the user then tries to overcome them <br/> <br/>.


<Img src = "/img/etiquetas.png" </img> <br/>

<br/>
<br/>
<center> <b> Figure 2 - Stickers (CHARALLO, 2011) </b> </center> <br/>

<br/>
The Tag-It is an online tool that aims to support the implementation of the labeling step, especially for the teaching context. Figure 1 illustrates the steps of the MAC. <br/>

<br/> <br/>

References: <br/>
PRATES, R. & O. Barbosa, S.D.J. Introduction to the Theory and Practice of Human-Computer Interaction based on Semiotic Engineering. In Kowaltowski T. & K. Breitman (eds.) Journeys Update on Computing, JAI 2007, p. 263-326. 2007. <br/>

</P>