<h3> Handout for the first evaluation </h3> <br>

<ui>
<li> <a href="/img/BlocoNotas.mp4"> Video Notepad Reviews for test </a> </li>

<li> <a href="https://docs.google.com/forms/d/1LMIntoS-GLzLlYAESmqwbA-LowCIEOBjeTj1V4Coaro/viewform">Questions Evaluation of Tag-it </a> </li>

<li> Contact: <a href="mailto:viniciusandreatta@hotmail.com?subject=Tag-It"> Send us a message </a> </li>

<br>

<h3>References Support MAC and Semiotic Engineering </h3>

<br/>

<b> Tools for Creating Video </b>
<ul>
<li> <a href="http://www.baixaki.com.br/download/free-easy-avi-wmv-mp4-mpeg-divx-converter.htm"> Video Converter Freeware: select MP4 format H264 compatible with HTML5 for use with the tag-it (Ipod format, for example) </a> </li>

<li> <a href="http://www.baixaki.com.br/download/screentwin.htm"> ScreenTwin - screen capture software </a> </li>

<li> <a href="http://graphics.stanford.edu/~mdfisher/VideoCapture.html"> VdeoCapture - software for screen capture in MP4 H264 
</a> </li>

</Ul>

<br/>

<b> Material on Semiotics Engineering </b>

<br/>
<ul>

<li> <a href="http://www2.serg.inf.puc-rio.br/"> SERG - Research Group on Semiotic Engineering from PUC-Rio </a> </li>
<li> <a href="http://www.lbd.dcc.ufmg.br/colecoes/jai/2007/001.pdf"> JHA 2007 </a> </li>

</Ul>
<br/>

<b> Material on the Mac </b>
<ul>
<li> <a href="http://www.id-book.com/secondedition/casestudy_14-1.htm/"> Case Study </a> </li>
</Ul>
<br/>