<h3> Tag-it - a CEM support tool</h3>
<p>A Tag-it is a tool to support the tagging phase of CEM - Communication Evaluation Method- it gathers along user videos, tagging information and evaluator's details, as well as teacher options and comments to student's projects </p>

<p><center><img src="/img/tagitdoes.png"></img></center></p>


