<h3> Material de Apoio para a primeira avaliação </h3><br>
				
				<ui>
					<li><a href="/img/BlocoNotas.mp4">Video do Bloco de Notas para Avaliações de teste </a></li
				<br />
				
					<li><a href="https://docs.google.com/forms/d/1LMIntoS-GLzLlYAESmqwbA-LowCIEOBjeTj1V4Coaro/viewform">Questionário de Avaliação da Tag-it</a></li>

				<br />
					<li>Contato: <a href="mailto:viniciusandreatta@hotmail.com?subject=Tag-It">Envie-nos uma mensagem</a></li>

				<br />

			<h3>Referências de Apoio ao MAC e a Engenharia Semiótica </h3>

			<br />

			<b>Ferramentas para criação do video</b>
			<ul>
				<li><a href="http://www.baixaki.com.br/download/free-easy-avi-wmv-mp4-mpeg-divx-converter.htm">Conversor de videos freeware: selecione o formato MP4 H264 compatível com HTML5 para utilizá-lo com a tag-it (Formato do Ipod, por exemplo)</a></li>

				<li><a href="http://www.baixaki.com.br/download/screentwin.htm">ScreenTwin - Software de captura de telas</a></li>
				
				<li><a href="http://graphics.stanford.edu/~mdfisher/VideoCapture.html">VdeoCapture - Software para captura de tela em MP4 H264</a></li>
			</ul>

			<br />

			<b>Material sobre Engenharia Semiótica</b>

			<br />
			<ul>

				<li><a href="http://www2.serg.inf.puc-rio.br/">SERG - Grupo de Pesquisa em Engenharia Semiótica da PUC-Rio</a></li>
				<li><a href="http://www.lbd.dcc.ufmg.br/colecoes/jai/2007/001.pdf">JAI 2007</a></li>
				
			</ul>
			<br />

			<b>Material sobre o MAC</b>
			<ul>
				<li><a href="http://www.id-book.com/secondedition/casestudy_14-1.htm/">Estudo de Caso</a></li>
			</ul>
			<br />
