
			<div class="row-fluid">
			 		
			  <div class="span4">
			  	<ul>
			  		
			  			<b>O que deseja aprender? <br /> <br /></b>
			  		
	<li>
		<a href ="#" onclick="setVideoTime(1)"> Registrar Usuario </a>
	</li>
	<li>
		<a href ="#" onclick="setVideoTime(42)"> Criar Avaliação </a>
	</li>
	<li>
		<a href ="#" onclick="setVideoTime(80)"> Criar Etiqueta </a>
	</li>
	<li>
		<a href ="#" onclick="setVideoTime(115)"> Visualizar Etiqueta </a>
	</li>
	<li>
		<a href ="#" onclick="setVideoTime(127)"> Editar Etiqueta </a>
	</li>
	<li>
		<a href ="#" onclick="setVideoTime(140)"> Adicionar Avaliador </a>
	</li>
	<li>
		<a href ="#" onclick="setVideoTime(155)"> Excluir Etiqueta </a>
	</li>
	<li>
		<a href ="#" onclick="setVideoTime(165)"> Editar Conta </a>
	</li>
	<li>
		<a href ="#" onclick="setVideoTime(177)"> Remover Avaliador </a>
	</li>
	<li>
		<a href ="#" onclick="setVideoTime(200)"> Excluir Projeto </a>
	</li>
	<li>
		<a href ="#" onclick="setVideoTime(213)"> Encerrar Sessão </a>
	</li>
			  	</ul>

			  </div>

			   <div class="span8">
				<video width="100%" height="520px" class= "myTaggedVideo" id= "myTaggedVideo" poster="/assets/How-to/Projects.png" controls>
					  <source src="/assets/how-to/help.mp4" type="video/mp4">
					   Seu navegador ainda nao suporta videos em HTML 5, baixe o Google Chrome para continuar.
					<source src="/assets/how-to/help.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
				</video>
	    	</div><!-- /#navbar-fixed-css -->

			  </div>