<!--Not Logged user home screen-->

<link href="css/style.css" rel="stylesheet">


<div class="note-tabs"> <!-- Homepage Tabs-->
	
	

	<div class="tab-content">

		<!-- Tab 1 - Comece Aqui -->

		<div class="tab-pane active" id="navbar-fixed-Start">
			
				<h3>Tag-It - Uma Ferramenta de apoio ao MAC</h3>
				<p>A Tag-it é uma ferramenta de apoio a fase de etiquetagem do MAC - Método de Avaliação da Comunicabilidade </p>
				
				<p><center><img src="/img/tagitdoes.png"></img></center></p>




		</div><!-- #navbar-fixed-html -->
		

			


		<!-- Tab 4 - MAC -->

		<div class="tab-pane" id="navbar-fixed-Mac">
			
		<h3> O método de Avaliação da Comunicabilidade (MAC) </h3>

		O método de Avaliação da Comunicabilidade (MAC) é um dos métodos propostos pela Engenharia Semiótica para avaliação de IHC:

		<br />

		<img src="/img/MACEtapas.png"  </img> <br />
		Figura 1 - Etapas do MAC (BIM, 2009, p60)

		<br />

		<p>
		Para realizarmos o MAC é preciso que anteriormente tenha ocorrido a preparação e a realização de testes com os usuários. A preparação do teste – de acordo com (PRATES e BARBOSA, 2007, p. 280-281) é dividida em: 
		<br />
		
		Determinação do objetivo do teste; <br /><br />
		•	Delegação das tarefas para teste;<br />
		•	Seleção dos participantes<br />
		•	Considerações sobre aspectos éticos<br />
		•	Geração de material impresso para uso durante a avaliação;<br />
		•	Execução do teste piloto. <br /><br />
		Após esta preparação do teste, é necessária a execução dos testes com os participantes selecionados, em um ambiente controlado em que as ações dos usuários sejam guardadas para que possam ser posteriormente consideradas pelos avaliadores. Para tanto, é necessário que haja uma captura da interação do usuário com o sistema, através de softwares de captura de tela, disponíveis facilmente com licenças gratuitas na web. <br />
		Sem a captura da interação do usuário com o sistema em formato de vídeo, não é possível que se prossiga para a etapa de etiquetagem, etapa abordada no Tag-It.<br /><br />
		A Etapa de Etiquetagem é feita pela pessoa que irá analisar a IHC, utilizando para isso o vídeo produzido na realização do teste e também informações coletadas de outras formas, como questionários e entrevistas com os participantes feitas durante e depois da execução dos testes. O objetivo da etapa de etiquetagem é encontrar falhas na recepção da mensagem do designer pelo usuário.<br />
		Cada falha, ou ruptura de comunicação deve ser identificada por uma etiqueta, que consiste em expressões que poderiam ser esboçadas pelos usuários ao interagir com o sistema (por exemplo, “Cadê?”, ao se referir a um recurso que o usuário não consegue encontrar no objeto avaliado) em determinado instante da interação. São treze etiquetas divididas em três grupos: falhas completas, falhas parciais e falhas temporárias brevemente descritas a seguir (PRATES e BARBOSA, 2007, p. 285) e ilustradas na figura 2:<br /><br />
		•	Falhas completas - acontecem quando a intenção da comunicação e seu efeito são inconsistentes.<br />
		•	Falhas parciais - ocorrem quando parte do efeito pretendido da comunicação não é atingido.<br />
		•	Falhas temporais – são aquelas que ocorrem na expressão ou intenção de um ato comunicativo entre usuário e sistema, e que são percebidas pelo usuário que tenta então superá-las.<br /><br />

		<img src="/img/etiquetas.png" </img><br />
		Figura 2 - Etiquetas (CHARALLO, 2011) <br />
		
		<br />
		A Tag-It é uma ferramenta online que tem o objetivo de apoiar a realização da etapa de etiquetagem, principalmente para o contexto didático. A figura 1 ilustra as etapas do MAC.<br />



		Referências: <br />
		PRATES, R. O. & Barbosa, S.D.J. Introdução à Teoria e Prática da Interação Humano-Computador fundamentada na Engenharia Semiótica. In T. Kowaltowski & K. Breitman (orgs.) Jornadas de Atualização em Informática, JAI 2007, pp. 263-326. 2007.<br />

	</p>


	    </div>

	    <!-- Tab 3 - Referencias -->

		<div class="tab-pane" id="navbar-fixed-Ref">
			<h3>Referências de Apoio ao MAC e a Engenharia Semiótica </h3>

			<br />

			<b>Ferramentas para criação do video</b>
			<ul>
				<li><a href="http://www.baixaki.com.br/download/free-easy-avi-wmv-mp4-mpeg-divx-converter.htm">Conversor de videos freeware: selecione o formato MP4 H264 compatível com HTML5 para utilizá-lo com a tag-it (Formato do Ipod, por exemplo)</a></li>

				<li><a href="http://www.baixaki.com.br/download/screentwin.htm">ScreenTwin - Software de captura de telas</a></li>
				
				<li><a href="http://graphics.stanford.edu/~mdfisher/VideoCapture.html">VdeoCapture - Software para captura de tela em MP4 H264</a></li>
			</ul>

			<br />

			<b>Material sobre Engenharia Semiótica</b>

			<br />
			<ul>

				<li><a href="http://www2.serg.inf.puc-rio.br/">SERG - Grupo de Pesquisa em Engenharia Semiótica da PUC-Rio</a></li>
				<li><a href="http://www.lbd.dcc.ufmg.br/colecoes/jai/2007/001.pdf">JAI 2007</a></li>
				
			</ul>
			<br />

			<b>Material sobre o MAC</b>
			<ul>
				<li><a href="http://www.id-book.com/secondedition/casestudy_14-1.htm/">Estudo de Caso</a></li>
			</ul>
			<br />


				
			
	    </div>


		<!-- Tab 4 - Consolidação -->


		<div class="tab-pane" id="navbar-fixed-Consolidate">
			<iframe src=<%=new_user_registration_path%>>Your Browser Doesn't Support Frames. </iframe>

			Read more: http://www.ehow.com/how_8265005_load-internal-webpage-iframe.html#ixzz2eEMgYVIr
		</div><!-- /#navbar-fixed-css -->

	</div><!-- .tab-content -->

</div><!-- /.note-tabs -->


	